<div class="editors">
    
    <!-- HTML Editor -->
    <!-- Preview -->
    <div class="resultContainer">
        <iframe id="preview" name="result" sandbox="allow-forms allow-popups allow-scripts allow-same-origin" frameborder="0">
            #document
        </iframe>
    </div>
    <div class="editorContainer">
        <div class="editorLabel">HTML</div>
        <div class="editor" id="html-editor">
        </div>
    </div>
    <!-- CSS EDitor -->
    <div class="editorContainer">
        <div class="editorLabel">CSS</div>
        <div class="editor" id="css-editor">
            

        </div>
    </div>
    <!-- JS Editor -->
    <div class="editorContainer">
        <div class="editorLabel">JavaScript</div>
        <div class="editor" id="js-editor">
           
        </div>
    </div>
</div>



<!-- Set Editor Modes -->
<script>
        ace.require("ace/ext/language_tools");

        var htmlEditor = ace.edit("html-editor");
        htmlEditor.setTheme("ace/theme/idle_fingers");
        htmlEditor.getSession().setMode("ace/mode/html");
        htmlEditor.setOptions({
            enableBasicAutocompletion: true
        });

        var cssEditor = ace.edit("css-editor");
        cssEditor.setTheme("ace/theme/idle_fingers");
        cssEditor.getSession().setMode("ace/mode/css");
        cssEditor.setOptions({
            enableBasicAutocompletion: true
        });

        var jsEditor = ace.edit("js-editor");
        jsEditor.setTheme("ace/theme/idle_fingers");
        jsEditor.getSession().setMode("ace/mode/javascript");
        jsEditor.setOptions({
            enableBasicAutocompletion: true
        });
</script>