@using Microsoft.AspNetCore.Mvc.Controllers
@{

    var controllerName = ((ControllerActionDescriptor)ViewContext.ActionDescriptor).ControllerName;
    var isAuthed = Context.User.Identities.Any(i => i.IsAuthenticated);
}


<!-- Maker -->
<transition name="fade">
    <div v-if="labMode=='LAB_MODE_MAKING'">
        <div class="makerTitleContainer">
            <input id="txtTitle" type="text" placeholder="Title" :value="labTitle" />
            <input id="txtDescription" type="text" placeholder="Briefly describe your lab..." :value="labDescription"/>
        </div>
        <div class="makerContainer">
            <step v-for="step in steps" :step="step" :key="step.id"></step>
            <div v-on:click="createStep($event)" id="newStep" class="step">
                <h4><b>+</b></h4>
                <p>Add Step</p>
            </div>



        </div>
    </div>
</transition>


<!-- Edit Step Modal -->
<div class="fade" id="mdlEditStep" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div>Title</div>

                <input placeholder="Your title for this step..." id="mdlStepTitle" type="text" />

                <div>Text</div>
                <div>
                    <textarea placeholder="Your description for this step of your lesson..." id="mdlStepText" rows="8"></textarea>
                </div>
                <div class="jaxi-btn-group">
                    <div class="editorCodeSnippet" style="display:none;"></div>
                    <button @@click="toggleCodeSelect" class="btn btn-default pull-right" type="button">{{btnCodeSelectText}}</button>
                </div>
                <hr />
                <div class="jaxi-btn-group">
                    <button v-on:click="saveStep($event)" type="button" class="btn btn-default pull-right" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Discard</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tutorial Modal -->
<div class="modal fade" id="mdlMaker" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




