<nav class="navbar navbar-default-jaxi">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <div class="navbar-brand"><span class="glyphicon-jaxi" aria-hidden="true"></span> Jaxi's Break It!</div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="toolbar">
        <ul class="nav navbar-nav">
            <li id="btnRun"><a href=""><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run</a></li>
            <li id="btnTidyUp"><a href=""><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> TidyUp</a></li>
            <li id="btnTogether"><a href=""><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Collaborate</button></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>