@using Microsoft.AspNetCore.Mvc.Controllers
@{

    var controllerName = ((ControllerActionDescriptor)ViewContext.ActionDescriptor).ControllerName;
    var isAuthed = Context.User.Identities.Any(i => i.IsAuthenticated);
}


<nav class="navbar navbar-default-jaxi">
    <div class="navbar-content">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div>
            <div class="navbar-brand"><a href="/"><img src="~/images/LogoTextWhite.svg" /></a></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="toolbar">
            @if (controllerName == "Labs")
            {
                <ul class="nav navbar-nav">

                    <li id="btnRun"><a href=""><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run</a></li>
                    <li id="btnTidyUp"><a href=""><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> TidyUp</a></li>
                    <li id="btnTogether"><a href=""><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Collaborate</a></li>
                    <li id="btnMaker" v-if="labMode=='LAB_MODE_PLAYING'"><a href=""><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Lesson Maker</a></li>
                </ul>
            }

            <div class="right-nav">
                @if (isAuthed)
            {
                    <img class="user-image" src="~/images/ui/user-icon.png">
                }
                else
                {
                    <a href="/account/login" class="button">Sign in</a>
                }
            </div>

        </div><!-- /.navbar-collapse -->
    </div>
    
</nav>