@using Microsoft.AspNetCore.Mvc.Controllers
@{

    var controllerName = ((ControllerActionDescriptor)ViewContext.ActionDescriptor).ControllerName;
    var isAuthed = Context.User.Identities.Any(i => i.IsAuthenticated);
}


<nav class="navbar navbar-default-jaxi">
    <div class="navbar-content">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div>
            <div class="navbar-brand"><a href="/"><img src="~/images/LogoTextWhite.svg" /></a></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="toolbar">
            @if (controllerName == "Labs")
            {
                <ul class="nav navbar-nav">

                    <li id="btnRun"><a href=""><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run</a></li>
                    <li id="btnTidyUp"><a href=""><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> TidyUp</a></li>

                    <li id="btnTogether" v-if="labMode!='LAB_MODE_MAKING'"><a href=""><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Collaborate</a></li>
                        
                    @if (ViewBag.IsCreator)
                    {
                        <li id="btnMaker" v-on:click="setMode($event, 'LAB_MODE_MAKING')" ><a href=""><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Lesson Maker</a></li>
                    }
                    else
                    {
                        <li id="btnMaker" v-on:click="setMode($event, 'LAB_MODE_MAKING')" v-if="labMode=='LAB_MODE_PLAYING'"><a href=""><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Lesson Maker</a></li>
                    }
                    
                    
                    <transition name="fade" :duration="{ enter: 500, leave: 0 }">
                        <li id="btnExitMaker" v-on:click="setMode($event, 'LAB_MODE_PLAYING')" v-if="labMode=='LAB_MODE_MAKING'" style="margin-left:60px;"><a href="#"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Exit</a></li>
                    </transition>
                    <transition name="fade" :duration="{ enter: 500, leave: 0 }">
                        <li id="btnPreviewLesson" v-if="labMode=='LAB_MODE_MAKING'"><a href=""><span class="glyphicon glyphicon-film" aria-hidden="true"></span> Preview</a></li>
                    </transition>
                    <transition name="fade" :duration="{ enter: 500, leave: 0 }">
                        <li id="btnShare" v-if="labMode=='LAB_MODE_MAKING'"><a href=""><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</a></li>
                    </transition>
                </ul>
            }

            <div class="right-nav">
                @if (isAuthed)
            {
                    <img class="user-image" src="~/images/ui/user-icon.png">
                }
                else
                {
                    <a href="/account/login" class="button">Sign in</a>
                }
            </div>

        </div><!-- /.navbar-collapse -->
    </div>

</nav>


