@{
    ViewData["Title"] = "Jaxi's Break It!";
    Layout = null;
}
    <!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Header")
</head>
<body>


    <div id="app">
        <transition name="fade">
            <div v-if="isShowing" class="jaxi-modal" v-bind:style="{left:modalLeft, top:modalTop}">
                
            </div>
        </transition>
</div>

    

    
    <!-- Navbar -->
    @Html.Partial("_Navbar")

    <!-- Sidebar -->
    @Html.Partial("_Sidebar")

    <!-- Editors -->
    @Html.Partial("_Editors")

    

</body>
</html>
