@{
    ViewData["Title"] = "Jaxi's Break It!";
    Layout = null;
}
    <!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Header")
    <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
    <script src="~/js/animations/JaxiTeam_Canvas.js"></script>

</head>
<body  onload="init();">


    <!-- Navbar -->
    @Html.Partial("_Navbar")

    <!-- Main Content-->
    <div class="content">
        <div class="columns">
            <div class="col-md-5">
                <img src="~/images/Logo.svg" />
            </div>
            <div class="col-md-6">
                <h2>"Jaxi's Break It" is an interactive way to learn to code.</h2>

                <!--animation-->
                <script>
                var canvas, stage, exportRoot;
                function init() {
	                // --- write your JS code here ---
                    canvas = document.getElementById("teamJaxi");
	                images = images||{};

	                var loader = new createjs.LoadQueue(false);
	                loader.addEventListener("fileload", handleFileLoad);
	                loader.addEventListener("complete", handleComplete);
	                loader.loadManifest(lib.properties.manifest);
                }

                function handleFileLoad(evt) {
	                if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
                }

                function handleComplete(evt) {
	                exportRoot = new lib.JaxiTeam_Canvas();

	                stage = new createjs.Stage(canvas);
	                stage.addChild(exportRoot);
	                stage.update();

	                createjs.Ticker.setFPS(lib.properties.fps);
	                createjs.Ticker.addEventListener("tick", stage);
                }

                </script>
                <div>
                    <canvas id="teamJaxi" width="380" height="362" style="background-color:#000000"></canvas>
                </div>

            </div>
        </div>


        <div>
            <h1>Try one of these labs...</h1>
        </div>
        <hr class="big" />
        
        <div class="columns">
            <div class="col-md-4">
                <div class="feature">

                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">

                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">

                </div>
            </div>
        </div>


    </div>


    <!--footer-->
    @Html.Partial("_Footer")


</body>
</html>
