@{
    ViewData["Title"] = "Jaxi's Break It!";
    Layout = null;
}
    <!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Header")

</head>
<body>


    <!-- Navbar -->
    @Html.Partial("_Navbar")

    <!-- Main Content-->
    <div class="content">
        <div class="columns">
            <div class="col-md-5">
                <img src="~/images/Logo.svg" />
            </div>
            <div class="col-md-6">
                <h2>Jaxi's Break It is an interactive way to learn to code.</h2>
            </div>
        </div>


        <div>
            <h1>Try one of these labs...</h1>
        </div>
        <hr class="big" />
        
        <div class="columns">
            <div class="col-md-4">
                <div class="feature">

                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">

                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">

                </div>
            </div>
        </div>


    </div>


    <!--footer-->
    @Html.Partial("_Footer")


</body>
</html>
