@{
    ViewData["Title"] = "Jaxi's Break It!";
    Layout = null;
}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jaxi's Break It!</title>

    <!-- Latest jQuery from Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Crypto JS -->
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
    <!-- Beautify Web - HTML, CSS, JS -->
    <script src="js/beautify-web/beautify-html.js"></script>
    <script src="js/beautify-web/beautify-css.js"></script>
    <script src="js/beautify-web/beautify.js"></script>
    <!-- Ace Editor -->
    <script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
    <!-- Together -->
    <script src="https://togetherjs.com/togetherjs-min.js"></script>
    <!-- JSTinker Scripts -->
    <script src="js/jaxi-edit.js"></script>
    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Bootstrap Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- JSTinker Style -->
    <link rel="stylesheet" href="css/jaxi-edit.css" type="text/css">
    <!-- Bootstrap Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default-jaxi">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toolbar">
                <span class="sr-only">Toggle toolbar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="glyphicon-jaxi" aria-hidden="true"></span> Jaxi's Break It!</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="toolbar">
            <ul class="nav navbar-nav">
                <li id="btnRun"><a href=""><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run</a></li>
                <li id="btnTidyUp"><a href=""><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> TidyUp</a></li>
                <li id="btnTogether"><a href=""><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Collaborate</button></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <!-- Sidebar -->
    <div id="sidebar">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <!-- Frameworks & Extensions -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Frameworks & Extensions
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="dropdown">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    No-Library (pure JS)
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" id="dropdownMenu1" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation" class="dropdown-header">jQuery</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">jQuery Compat (edge)</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">jQuery (edge)</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">jQuery 2.1.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">jQuery 2.0.2</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">jQuery 1.11.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">jQuery 1.10.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">jQuery 1.9.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">jQuery 1.8.3</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">jQuery 1.7.2</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">jQuery 1.6.4</a></li>
                                    <li role="presentation" class="dropdown-header">Prototype</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Prototype 1.7.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Prototype 1.6.1.0</a></li>
                                    <li role="presentation" class="dropdown-header">YUI</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">YUI 3.17.2</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">YUI 3.16.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">YUI 3.14.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">YUI 3.10.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">YUI 3.8.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">YUI 3.7.3</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">YUI 3.6.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">YUI 3.5.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">YUI 2.8.0r4</a></li>
                                    <li role="presentation" class="dropdown-header">No-Library</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">No-Library (pure JS)</a></li>
                                    <li role="presentation" class="dropdown-header">Dojo</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Dojo (nightly)</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Dojo 1.10.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Dojo 1.9.4</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Dojo 1.8.7</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Dojo 1.7.6</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Dojo 1.6.2</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Dojo 1.5.3</a></li>
                                    <li role="presentation" class="dropdown-header">Processing</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Processing.js 1.4.7</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Processing.js 1.4.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Processing.js 1.3.6</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Processing.js 1.2.3</a></li>
                                    <li role="presentation" class="dropdown-header">ExtJS</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">ExtJS 4.2.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">ExtJS 4.1.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">ExtJS 4.1.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">ExtJS 3.4.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">ExtJS 3.1.0</a></li>
                                    <li role="presentation" class="dropdown-header">Raphael</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Raphael 2.1.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Raphael 1.5.2 (min)</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Raphael 1.4</a></li>
                                    <li role="presentation" class="dropdown-header">RightJS</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">RightJS 2.3.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">RightJS 2.1.1</a></li>
                                    <li role="presentation" class="dropdown-header">Three.js</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Three.js r54</a></li>
                                    <li role="presentation" class="dropdown-header">Zepto</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Zepto 1.0rc1</a></li>
                                    <li role="presentation" class="dropdown-header">Enyo</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Enyo (nightly)</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Enyo 2.5.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Enyo 2.4.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Enyo 2.2.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Enyo 2.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Enyo 2.0.1</a></li>
                                    <li role="presentation" class="dropdown-header">Shipyard</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Shipyard (nightly)</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Shipyard 0.2</a></li>
                                    <li role="presentation" class="dropdown-header">Knockout.js</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Knockout.js 3.0.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Knockout.js 2.3.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Knockout.js 2.2.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Knockout.js 2.1.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Knockout.js 2.0.0</a></li>
                                    <li role="presentation" class="dropdown-header">The X Toolkit</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">The X Toolkit edge</a></li>
                                    <li role="presentation" class="dropdown-header">AngularJS</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">AngularJS 1.2.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">AngularJS 1.1.1</a></li>
                                    <li role="presentation" class="dropdown-header">Ember</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Ember 1.3.1</a></li>
                                    <li role="presentation" class="dropdown-header">Underscore</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Underscore 1.4.4</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Underscore 1.4.3</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Underscore 1.3.3</a></li>
                                    <li role="presentation" class="dropdown-header">Bonsai</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Bonsai 0.4.1</a></li>
                                    <li role="presentation" class="dropdown-header">KineticJS</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">KineticJS 4.3.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">KineticJS 4.0.5</a></li>
                                    <li role="presentation" class="dropdown-header">FabricJS</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">FabricJS 1.4.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">FabricJS 1.2.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">FabricJS 0.9</a></li>
                                    <li role="presentation" class="dropdown-header">qooxdoo</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">qooxdoo 2.1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">qooxdoo 2.0.3</a></li>
                                    <li role="presentation" class="dropdown-header">D3</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">D3 3.0.4</a></li>
                                    <li role="presentation" class="dropdown-header">CreateJS</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">CreateJS 2013.09.25</a></li>
                                    <li role="presentation" class="dropdown-header">WebApp Install</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">WebApp Install 0.1</a></li>
                                    <li role="presentation" class="dropdown-header">Thorax</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Thorax 2.0.0rc6</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Thorax 2.0.0rc3</a></li>
                                    <li role="presentation" class="dropdown-header">Paper.js</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Paper.js 0.22</a></li>
                                    <li role="presentation" class="dropdown-header">React</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">React 0.9.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">React 0.8.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">React 0.4.0</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">React 0.3.2</a></li>
                                    <li role="presentation" class="dropdown-header">svg.js</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">svg.js 0.x (latest)</a></li>
                                    <li role="presentation" class="dropdown-header">Minified</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Minified 1.0 beta1</a></li>
                                    <li role="presentation" class="dropdown-header">jTypes</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">jTypes 2.1.0</a></li>
                                    <li role="presentation" class="dropdown-header">Lo-Dash</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Lo-Dash 2.2.1</a></li>
                                    <li role="presentation" class="dropdown-header">Brick</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Brick edge</a></li>
                                    <li role="presentation" class="dropdown-header">RactiveJS</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">RactiveJS Latest</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">RactiveJS Edge</a></li>
                                    <li role="presentation" class="dropdown-header">Vue</li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Vue (edge)</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Vue 0.11.0</a></li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <div class="dropdown">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                                    onLoad
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" id="dropdownMenu2" role="menu" aria-labelledby="dropdownMenu2">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">onLoad</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">onDomReady</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">No wrap - in head</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">No wrap - in body</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tinker Options -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Tinker Options
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <input type="text" placeholder="Name your Tinker">
                        <textarea placeholder="Description"></textarea>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"></input><span class="chk_lbl">Normalize css</span>
                            </label>
                        </div>
                        <p>Body tag</p>
                        <input type="text">
                        <p>DTD</p>
                        <div class="dropdown">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">
                                    HTML 5
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" id="dropdownMenu3" role="menu" aria-labelledby="dropdownMenu3">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">XHTML 1.0 Strict</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">XHTML 1.0 Transitional</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">HTML 5</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">HTML 4.01 Strict</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">HTML 4.01 Transitional</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">HTML 4.01 Frameset</a></li>
                                </ul>
                            </div>
                        </div>
                        <p>Framework script attribute</p>
                        <input type="text" placeholder="ie. data-type=''">
                    </div>
                </div>
            </div>
            <!-- External Resources -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            External Resources
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <input type="text" class="ext_res" placeholder="JavaScript/CSS URI">
                        <button type="button" class="btn btn-default add">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Languages -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Languages
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <div class="dropdown langcontainer">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle langbutton" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-expanded="true">
                                    HTML
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" id="dropdownMenu4" role="menu" aria-labelledby="dropdownMenu4">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">HTML</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown langcontainer langright">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle langbutton" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-expanded="true">
                                    CSS
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" id="dropdownMenu5" role="menu" aria-labelledby="dropdownMenu5">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">CSS</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">SCSS</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown langcontainer">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle langbutton" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-expanded="true">
                                    JavaScript
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" id="dropdownMenu6" role="menu" aria-labelledby="dropdownMenu6">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">JavaScript</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">CoffeeScript</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">JavaScript 1.7</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown langcontainer langright">
                            <div class="btn-group">
                                <button class="btn btn-default langbutton" type="button" id="dropdownMenu7" data-toggle="dropdown" aria-expanded="true">
                                    Results
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ajax Requests
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                            Ajax Requests
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        Stuff
                    </div>
                </div>
            </div> -->
            <!-- Legal, Credits and Links -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                            Legal, Credits and Links
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        <p>Created and maintained by <a title="John's homepage" href="http://johncipponeri.github.io/">John Cipponeri</a>.</p>
                        <p>Hosted by <a href="https://pages.github.com/">GitHub Pages</a>.</p>
                        <p>Special thanks to <a href="http://jsfiddle.net" target="_new">JSFiddle</a> as this is an open source clone of it.</p>
                        <p><strong>License</strong></p>
                        <p>All code belongs to the poster and no license is enforced.</p>
                        <p>JSTinker or its author are not responsible or liable for any loss or damage of any kind during the usage of provided code.</p>
                        <p><strong>Links</strong></p>
                        For updates please follow my
                        <a href="http://twitter.com/johncipponeri/" target="_new">tweets</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /sidebar -->
    <div class="editors">
        <!-- Preview -->
        <div class="resultContainer">
            <iframe id="preview" name="result" sandbox="allow-forms allow-popups allow-scripts allow-same-origin" frameborder="0">
                #document
            </iframe>
        </div>
        <!-- HTML Editor -->
        <div class="editorContainer">
            <div class="editorLabel">HTML</div>
            <div class="editor" id="html-editor"><xmp><header class="wrap">
    <h1>Snake</h1>
    <p class="score">
        Score: <span id="score_value">0</span>
    </p>
</header>
<canvas class="wrap" id="snake" width="320" height="320" tabindex="1"></canvas>
<!-- Game Over Screen -->
<div id="gameover">
    <h2>Game Over</h2>
    <p>press <span style="background-color: #FFFFFF; color: #000000">space</span> to begin a</p>
    <a id="newgame_gameover">new game</a>
    <a id="setting_gameover">settings</a>
</div>
<!-- Setting screen -->
<div id="setting">
    <h2>Settings</h2>
    <a id="newgame_setting">new game</a>
    <p>
        Speed:
        <input id="speed1" type="radio" name="speed" value="120" checked />
        <label for="speed1">Slow</label>
        <input id="speed2" type="radio" name="speed" value="75" />
        <label for="speed2">Normal</label>
        <input id="speed3" type="radio" name="speed" value="35" />
        <label for="speed3">Fast</label>
    </p>
    <p>
        Wall:
        <input id="wallon" type="radio" name="wall" value="1" checked />
        <label for="wallon">On</label>
        <input id="walloff" type="radio" name="wall" value="0" />
        <label for="walloff">Off</label>
    </p>
</div>
<!-- Main Menu Screen -->
<div id="menu">
    <h2>Snake</h2>
    <a id="newgame_menu">new game</a>
    <a id="setting_menu">settings</a>
</div>
<!--
<div id="debug" style="font-size: 16px; color: #FFF;"></div>
-->

</xmp>
            </div>
        </div>
        <!-- CSS EDitor -->
        <div class="editorContainer">
            <div class="editorLabel">CSS</div>
            <div class="editor" id="css-editor"><xmp>
@@import url("http://fonts.googleapis.com/css?family=VT323");
::selection {
color: #FFFFFF;
background: transparent;
}

::-moz-selection {
color: #FFFFFF;
background: transparent;
}

* {
margin: 0;
padding: 0;
font-family: "VT323";
}

body {
background-color: #000000;
}

.wrap {
margin-left: auto;
margin-right: auto;
}

header {
width: 340px;
font-size: 0;
}

canvas {
display: none;
border-style: solid;
border-width: 10px;
border-color: #FFFFFF;
}

canvas:focus {
outline: none;
}
/* Top Styles */

h1 {
display: inline-block;
width: 100px;
font-size: 32px;
color: #FFFFFF;
}

.score {
display: inline-block;
width: 240px;
font-size: 20px;
color: #FFFFFF;
text-align: right;
}

.score_value {
font-size: inherit;
}
/* All screens style */

#gameover a,
#setting a,
#menu a {
display: block;
}

#gameover a,
#setting a:hover,
#menu a:hover {
cursor: pointer;
}

#gameover a:hover::before,
#setting a:hover::before,
#menu a:hover::before {
content: ">";
margin-right: 10px;
}
/* Menu Screen Style */

#menu {
display: block;
width: 340px;
padding-top: 95px;
padding-bottom: 95px;
font-size: 40px;
margin-left: auto;
margin-right: auto;
text-align: center;
color: #FFF;
}

#menu h2 {
-webkit-animation: logo-ani 1000ms linear infinite;
animation: logo-ani 1000ms linear infinite;
margin-bottom: 30px;
}

#menu a {
font-size: 30px;
}

@@-webkit-keyframes logo-ani {
50% {
-webkit-transform: scale(1.3, 1.3);
}
100% {
-webkit-transform: scale(1.0, 1.0);
}
}

@@keyframes logo-ani {
50% {
transform: scale(1.3, 1.3);
}
100% {
transform: scale(1.0, 1.0);
}
}
/* Game Over Screen Style */

#gameover {
display: none;
width: 340px;
padding-top: 95px;
padding-bottom: 95px;
margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 30px;
color: #FFF;
}

#gameover p {
margin-top: 25px;
font-size: 20px;
}
/* Settings Screen Style */

#setting {
display: none;
width: 340px;
margin-left: auto;
margin-right: auto;
padding-top: 85px;
padding-bottom: 85px;
font-size: 30px;
color: #FFF;
text-align: center;
}

#setting h2 {
margin-bottom: 15px;
}

#setting p {
margin-top: 10px;
}

#setting input {
display: none;
}

#setting label {
cursor: pointer;
}

#setting input:checked + label {
background-color: #FFF;
color: #000;
}
                </xmp>

            </div>
        </div>
        <!-- JS Editor -->
        <div class="editorContainer">
            <div class="editorLabel">JavaScript</div>
            <div class="editor" id="js-editor"><xmp>
(function () {
/////////////////////////////////////////////////////////////

// Canvas & Context
var canvas;
var ctx;

// Snake
var snake;
var snake_dir;
var snake_next_dir;
var snake_speed;

// Food
var food = { x: 0, y: 0 };

// Score
var score;

// Wall
var wall;

// HTML Elements
var screen_snake;
var screen_menu;
var screen_setting;
var screen_gameover;
var button_newgame_menu;
var button_newgame_setting;
var button_newgame_gameover;
var button_setting_menu;
var button_setting_gameover;
var ele_score;
var speed_setting;
var wall_setting;

/////////////////////////////////////////////////////////////

var activeDot = function (x, y) {
ctx.fillStyle = "#FFFFFF";
ctx.fillRect(x * 10, y * 10, 10, 10);
}


/////////////////////////////////////////////////////////////

var changeDir = function (key) {

if (key == 38 && snake_dir != 2) {
snake_next_dir = 0;
} else {

if (key == 39 && snake_dir != 3) {
snake_next_dir = 1;
} else {

if (key == 40 && snake_dir != 0) {
snake_next_dir = 2;
} else {

if (key == 37 && snake_dir != 1) {
snake_next_dir = 3;
}
}
}
}

}

/////////////////////////////////////////////////////////////

var addFood = function () {
food.x = Math.floor(Math.random() * ((canvas.width / 10) - 1));
food.y = Math.floor(Math.random() * ((canvas.height / 10) - 1));
for (var i = 0; i < snake.length; i++) {
if (checkBlock(food.x, food.y, snake[i].x, snake[i].y)) {
addFood();
}
}
}

/////////////////////////////////////////////////////////////

var checkBlock = function (x, y, _x, _y) {
return (x == _x && y == _y) ? true : false;
}

/////////////////////////////////////////////////////////////

var altScore = function (score_val) {
ele_score.innerHTML = String(score_val);
}

/////////////////////////////////////////////////////////////

var mainLoop = function () {

var _x = snake[0].x;
var _y = snake[0].y;
snake_dir = snake_next_dir;

// 0 - Up, 1 - Right, 2 - Down, 3 - Left
switch (snake_dir) {
case 0: _y--; break;
case 1: _x++; break;
case 2: _y++; break;
case 3: _x--; break;
}

snake.pop();
snake.unshift({ x: _x, y: _y });


// --------------------

// Wall

if (wall == 1) {
// On
if (snake[0].x < 0 || snake[0].x == canvas.width / 10 || snake[0].y < 0 || snake[0].y == canvas.height / 10) {
showScreen(3);
return;
}
} else {
// Off
for (var i = 0, x = snake.length; i < x; i++) {
if (snake[i].x < 0) {
snake[i].x = snake[i].x + (canvas.width / 10);
}
if (snake[i].x == canvas.width / 10) {
snake[i].x = snake[i].x - (canvas.width / 10);
}
if (snake[i].y < 0) {
snake[i].y = snake[i].y + (canvas.height / 10);
}
if (snake[i].y == canvas.height / 10) {
snake[i].y = snake[i].y - (canvas.height / 10);
}
}
}

// --------------------

// Autophagy death
for (var i = 1; i < snake.length; i++) {
if (snake[0].x == snake[i].x && snake[0].y == snake[i].y) {
showScreen(3);
return;
}
}

// --------------------

// Eat Food
if (checkBlock(snake[0].x, snake[0].y, food.x, food.y)) {
snake[snake.length] = { x: snake[0].x, y: snake[0].y };
score += 1;
altScore(score);
addFood();
activeDot(food.x, food.y);
}

// --------------------

ctx.beginPath();
ctx.fillStyle = "#000000";
ctx.fillRect(0, 0, canvas.width, canvas.height);

// --------------------

for (var i = 0; i < snake.length; i++) {
activeDot(snake[i].x, snake[i].y);
}

// --------------------

activeDot(food.x, food.y);

// Debug
//document.getElementById("debug").innerHTML = snake_dir + " " + snake_next_dir + " " + snake[0].x + " " + snake[0].y;

setTimeout(mainLoop, snake_speed);
}

/////////////////////////////////////////////////////////////

var newGame = function () {

showScreen(0);
screen_snake.focus();

snake = [];
for (var i = 4; i >= 0; i--) {
snake.push({ x: i, y: 15 });
}

snake_next_dir = 1;

score = 0;
altScore(score);

addFood();

canvas.onkeydown = function (evt) {
evt = evt || window.event;
changeDir(evt.keyCode);
}
mainLoop();

}

/////////////////////////////////////////////////////////////

// Change the snake speed...
// 150 = slow
// 100 = normal
// 50 = fast
var setSnakeSpeed = function (speed_value) {
snake_speed = speed_value;
}

/////////////////////////////////////////////////////////////
var setWall = function (wall_value) {
wall = wall_value;
if (wall == 0) { screen_snake.style.borderColor = "#606060"; }
if (wall == 1) { screen_snake.style.borderColor = "#FFFFFF"; }
}

/////////////////////////////////////////////////////////////

// 0 for the game
// 1 for the main menu
// 2 for the settings screen
// 3 for the game over screen
var showScreen = function (screen_opt) {
switch (screen_opt) {

case 0: screen_snake.style.display = "block";
screen_menu.style.display = "none";
screen_setting.style.display = "none";
screen_gameover.style.display = "none";
break;

case 1: screen_snake.style.display = "none";
screen_menu.style.display = "block";
screen_setting.style.display = "none";
screen_gameover.style.display = "none";
break;

case 2: screen_snake.style.display = "none";
screen_menu.style.display = "none";
screen_setting.style.display = "block";
screen_gameover.style.display = "none";
break;

case 3: screen_snake.style.display = "none";
screen_menu.style.display = "none";
screen_setting.style.display = "none";
screen_gameover.style.display = "block";
break;
}
}

/////////////////////////////////////////////////////////////

var init = function () {

canvas = document.getElementById("snake");
ctx = canvas.getContext("2d");

// Screens
screen_snake = document.getElementById("snake");
screen_menu = document.getElementById("menu");
screen_gameover = document.getElementById("gameover");
screen_setting = document.getElementById("setting");

// Buttons
button_newgame_menu = document.getElementById("newgame_menu");
button_newgame_setting = document.getElementById("newgame_setting");
button_newgame_gameover = document.getElementById("newgame_gameover");
button_setting_menu = document.getElementById("setting_menu");
button_setting_gameover = document.getElementById("setting_gameover");

// etc
ele_score = document.getElementById("score_value");
speed_setting = document.getElementsByName("speed");
wall_setting = document.getElementsByName("wall");

// --------------------

button_newgame_menu.onclick = function () { newGame(); };
button_newgame_gameover.onclick = function () { newGame(); };
button_newgame_setting.onclick = function () { newGame(); };
button_setting_menu.onclick = function () { showScreen(2); };
button_setting_gameover.onclick = function () { showScreen(2) };

setSnakeSpeed(150);
setWall(1);

showScreen("menu");

// --------------------
// Settings

// speed
for (var i = 0; i < speed_setting.length; i++) {
speed_setting[i].addEventListener("click", function () {
for (var i = 0; i < speed_setting.length; i++) {
if (speed_setting[i].checked) {
setSnakeSpeed(speed_setting[i].value);
}
}
});
}

// wall
for (var i = 0; i < wall_setting.length; i++) {
wall_setting[i].addEventListener("click", function () {
for (var i = 0; i < wall_setting.length; i++) {
if (wall_setting[i].checked) {
setWall(wall_setting[i].value);
}
}
});
}

document.onkeydown = function (evt) {
if (screen_gameover.style.display == "block") {
evt = evt || window.event;
if (evt.keyCode == 32) {
newGame();
}
}
}
}

init();

})();
</xmp>
            </div>
        </div>
    </div>

    <!-- Set Editor Modes -->
    <script>
        ace.require("ace/ext/language_tools");

        var htmlEditor = ace.edit("html-editor");
        htmlEditor.setTheme("ace/theme/crimson-editor");
        htmlEditor.getSession().setMode("ace/mode/html");
        htmlEditor.setOptions({
            enableBasicAutocompletion: true
        });

        var cssEditor = ace.edit("css-editor");
        cssEditor.setTheme("ace/theme/crimson-editor");
        cssEditor.getSession().setMode("ace/mode/css");
        cssEditor.setOptions({
            enableBasicAutocompletion: true
        });

        var jsEditor = ace.edit("js-editor");
        jsEditor.setTheme("ace/theme/crimson-editor");
        jsEditor.getSession().setMode("ace/mode/javascript");
        jsEditor.setOptions({
            enableBasicAutocompletion: true
        });
    </script>

</body>
</html>
